
body{
    background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-color: rgb(221, 231, 250);
    font-family: "游ゴシック";
    font-size: large;
    color: rgb(56, 47, 47);
    padding-top: 5%;
}
.header{
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    background-color: #7f91fbd0;
    border-bottom: solid 30px #fad24dc9;
    color: rgb(255, 255, 255);
    z-index: 2;
}
.main{
    float: left;
    width: 60%;
    justify-content: center;
    padding-top: 5%;
    margin-left: 15%;
    padding-bottom: 5%;
    background-color: #fff;
}
.subtitle{
    font-size: x-large;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem 2rem;
    border-left: 5px solid rgb(169, 136, 231);
    background: #f4f4f4;
}
.note {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fff; /* 背景色 */
    background-image: linear-gradient(180deg, #ccc 1px, transparent 1px); /* 罫線の色と太さ */
    background-size: 100% 2.5em; /* 行の高さ */
    line-height: 2.5em; /* 文字の高さ */
    padding-bottom: 1px; /* 最終行の下にも罫線を引く */
}
.note2 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}
.linktitle{
    color: #fff;
    text-decoration: none;
}
.linktitle2{
    color: #fff;
}
table{
    border:1px solid #999999;
    border-collapse: collapse;
    color:#333333;
    line-height: 1.6;
    text-align: left;
    width: 100%;
}
table,th{
    border:1px solid #999999;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 16px;
    text-align: center;
    vertical-align : middle;
}
table,td{
    border:1px solid #999999;
    font-size: 14px;
    padding: 12px 16px;
    vertical-align: top;
}
@media screen and (max-width: 479px) {
    #contents #l_contents {
    width: auto;
    float: none;
}
     
    #contents #r_contents {
    width: auto;
    float: none;
}
}
.right{
    justify-self: center;
    float: right;
    padding-top: 3%;
    padding-left: 30px;
    position: fixed;
    right: 0;
}


